{
    "server" : {
        "url" : "http://127.0.0.1:8000",
        "api" : "api/0.1"
    },
    "user" : {
        "default_user" : "nrmassey",
        "default_group" : "cedaproc"
    },
    "authentication" : {
        "oauth_client_id" : "{{ oauth_client_id }}",
        "oauth_client_secret" : "{{ oauth_client_secret }}",
        "oauth_token_url" : "{{ oauth_token_url }}",
        "oauth_scopes" : "{{ oauth_scopes }}",
        "oauth_token_file_location" : "~/.nlds-token"
    }
}
