{
    "server" : {
        "url" : "{{ nlds_server }}",
        "api" : "api/0.1"
    },
    "user" : {
        "default_user" : "{{ user }}",
        "default_group" : "{{ group }}"
    },
    "authentication" : {
        "oauth_client_id" : "{{ oauth_client_id }}",
        "oauth_client_secret" : "{{ oauth_client_secret }}",
        "oauth_token_url" : "{{ oauth_token_url }}",
        "oauth_scopes" : "{{ oauth_scopes }}",
        "oauth_token_file_location" : "~/.nlds-token"
    },
    "object_storage" : {
        "tenancy" : "{{ os_tenancy }}",
        "access_key" : "{{ os_access_key }}",
        "secret_key" : "{{ os_secret_key }}"

    }
    "options" : {
        "verify_certificates": true
    }
}
